<%= form_for(@metric_report) do |f| %>
  <% if @metric_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric_report.errors.count, "error") %> prohibited this metric_report from being saved:</h2>

      <ul>
      <% @metric_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.date_select :period %>
  </div>
  <div class="field">
    <%= f.label :period_type %><br>
    <%= f.text_field :period_type %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
